#-----------------------------------------------------------------
# pycparser: _c_ast_gen.cfg
#
# Defines the AST Node classes used in pycparser.
# 
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#
# Copyright (C) 2008-2012, Eli Bendersky
# License: BSD
#-----------------------------------------------------------------

Program: [imports**, components**]

Import: [package]

Component: [doc*, name*, in_params*, out_params*, body*]

In: [params**]

Out: [params**]

InParam: [doc*, type*, name*, opt*, default*]

OutParam: [doc*, type*, name*, default*]

Atom: [atomtype*, atomconfs**]

AtomType: [atomtype]

AtomConf: [option, value]

Network: [controller*, stmtblock*]

StmtBlock: [stmts**]

Controller: [name*]

Assignment: [name*, compstmt*]

CompStmt: [name*, params**]

Connection: [left*, right*]

ParamRef: [comp*, direction, param*]

ID: [id]

Type: [type]

Optional: [bool]

Constant: [type, value]

Docstring: [doc]

Empty: []